@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a, img {
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  font: inherit;
  border-radius: 0;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

button, textarea, select {
  font: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

html.overflow-hidden {
  overflow: hidden;
}

body {
  font-family: 'Poppins', 'Arial', 'sans-serif';
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0f0f0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 870px;
}

@media (max-width: 350px) {
  .container {
    padding: 0 10px;
  }
}

.--git {
  margin-right: 20px;
  position: relative;
  width: 35px;
  height: 35px;
}

@media (max-width: 415px) {
  .--git {
    margin-right: 10px;
  }
}

.--git::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/github.svg") no-repeat center;
  mask: url("../img/github.svg") no-repeat center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: #dddddd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

:hover > .--git::before {
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.--telegram {
  margin-right: 20px;
  position: relative;
  width: 35px;
  height: 35px;
}

@media (max-width: 415px) {
  .--telegram {
    margin-right: 10px;
  }
}

.--telegram::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/telegram.svg") no-repeat center;
  mask: url("../img/telegram.svg") no-repeat center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: #dddddd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

:hover > .--telegram::before {
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.--email {
  margin-right: 20px;
  position: relative;
  width: 35px;
  height: 35px;
}

@media (max-width: 415px) {
  .--email {
    margin-right: 10px;
  }
}

.--email::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/email.svg") no-repeat center;
  mask: url("../img/email.svg") no-repeat center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: #dddddd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

:hover > .--email::before {
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: 100%;
  background-color: #374555;
}

.header.container {
  height: 70px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

@media (max-width: 415px) {
  .header__row {
    height: 60px;
  }
}

.header a {
  color: #dddddd;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header a:hover {
  color: #ffffff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation {
  z-index: 11;
}

.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation ul a {
  margin-right: 15px;
}

@media (max-width: 768px) {
  .header__navigation {
    margin-top: 70px;
    position: fixed;
    top: 0;
    right: -250%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__navigation ul {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__navigation ul li a {
    margin-bottom: 15px;
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
    color: #000000;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) and (max-width: 415px) {
  .header__navigation {
    margin-top: 60px;
  }
}

.header__navigation.active-list {
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__burger {
  position: relative;
  height: 40px;
  width: 40px;
  display: none;
}

.header__burger:before, .header__burger:after {
  content: '';
  position: absolute;
  right: 0;
  height: 5px;
  width: 40px;
  background-color: #dddddd;
}

.header__burger:before {
  top: 12px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header__burger:after {
  width: 25px;
  top: 24px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header__burger.active-burger:before {
  top: 18px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header__burger.active-burger:after {
  top: 18px;
  width: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main {
  padding-top: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 375px) {
  .main {
    padding-top: 100px;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__row {
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .card__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .card__row {
    margin-bottom: 100px;
  }
}

@media (max-width: 375px) {
  .card__row {
    margin-bottom: 75px;
  }
}

.card__photo {
  margin-right: 50px;
  max-width: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 20px rgba(49, 60, 66, 0.6);
          box-shadow: 10px 10px 20px rgba(49, 60, 66, 0.6);
}

@media (max-width: 700px) {
  .card__photo {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 375px) {
  .card__photo {
    width: 250px;
  }
}

@media (max-width: 700px) {
  .card__body {
    text-align: center;
  }
}

.card__name {
  margin-bottom: 30px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 700;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 375px) {
  .card__name {
    font-size: 46px;
    line-height: 52px;
  }
}

.card__position {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #374555;
}

@media (max-width: 375px) {
  .card__position {
    font-size: 18px;
    line-height: 24px;
  }
}

.card__location {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #374555;
}

@media (max-width: 375px) {
  .card__location {
    font-size: 18px;
    line-height: 24px;
  }
}

.--block {
  position: relative;
  padding: 40px 40px 40px 70px;
  margin-bottom: 75px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px rgba(49, 60, 66, 0.6);
          box-shadow: 5px 5px 10px rgba(49, 60, 66, 0.6);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.--block:hover {
  -webkit-box-shadow: 10px 10px 25px rgba(49, 60, 66, 0.6);
          box-shadow: 10px 10px 25px rgba(49, 60, 66, 0.6);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 450px) {
  .--block {
    padding: 40px 30px 40px 50px;
  }
}

@media (max-width: 375px) {
  .--block {
    padding: 35px 25px 35px 45px;
    margin-bottom: 60px;
  }
}

.--line {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 20px;
  background-color: #374555;
}

.--title {
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}

@media (max-width: 375px) {
  .--title {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 40px;
  }
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}

.summary__body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #374555;
}

.summary__body > p:first-of-type {
  margin-bottom: 20px;
}

.skills {
  margin-bottom: 75px;
}

.skills__list {
  padding-left: 25px;
  list-style-type: disc;
}

.skills__list li {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  color: #374555;
}

.projects {
  margin-bottom: 75px;
}

.projects a:first-of-type {
  margin-bottom: 30px;
}

@media (max-width: 550px) {
  .projects a:first-of-type {
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .projects__title {
    margin-bottom: 50px;
  }
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__item:hover .projects__item-title {
  text-decoration: underline;
}

@media (max-width: 550px) {
  .projects__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projects__item-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.projects__item-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  color: #374555;
}

.projects__item-text {
  color: #374555;
}

@media (max-width: 550px) {
  .projects__item-text {
    margin-bottom: 10px;
  }
}

.projects__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.projects__img img {
  border-radius: 10px;
}

.code {
  margin-bottom: 75px;
  padding: 40px 40px 0 70px;
}

.code code {
  font-size: 16px;
  border-radius: 10px;
}

@media (max-width: 450px) {
  .code code {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .code {
    padding: 40px 30px 40px 50px;
  }
}

@media (max-width: 375px) {
  .code {
    padding: 35px 25px 35px 45px;
  }
}

.education__period {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  color: #374555;
}

.education__sp {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #374555;
}

.education__un {
  color: #374555;
}

.languages ul {
  margin-bottom: 10px;
  padding-left: 35px;
  list-style-type: disc;
  color: #374555;
}

.languages ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.languages__english {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 10px;
}

.footer {
  height: 70px;
  line-height: 70px;
  background-color: #374555;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copyright {
  color: #dddddd;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer__rss {
  position: relative;
  width: 120px;
  height: 70px;
}

@media (max-width: 375px) {
  .footer__rss {
    width: 80px;
    height: 40px;
  }
}

.footer__rss::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 70px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/logo-rs2.svg") no-repeat center;
  mask: url("../img/logo-rs2.svg") no-repeat center;
  -webkit-mask-size: 120px;
  mask-size: 120px;
  background-color: #dddddd;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media (max-width: 375px) {
  .footer__rss::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 40px;
    top: 0;
    left: 0;
    -webkit-mask: url("../img/logo-rs2.svg") no-repeat center;
    mask: url("../img/logo-rs2.svg") no-repeat center;
    -webkit-mask-size: 78px;
    mask-size: 78px;
    background-color: #dddddd;
  }
}

.footer__rss::before :hover {
  background-color: #ffffff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
