@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul, ol {
  padding: 0;
  list-style: none;
}

a, img {
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  font: inherit;
  border-radius: 0;
}

input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}

button, textarea, select {
  font: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Poppins', 'Arial', 'sans-serif';
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f0f0f0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 870px;
}

.--git {
  margin-right: 15px;
  position: relative;
  width: 30px;
  height: 30px;
}

.--git::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/github.svg") no-repeat center;
  mask: url("../img/github.svg") no-repeat center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: #dddddd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

:hover > .--git::before {
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.--telegram {
  margin-right: 15px;
  position: relative;
  width: 30px;
  height: 30px;
}

.--telegram::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/telegram.svg") no-repeat center;
  mask: url("../img/telegram.svg") no-repeat center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: #dddddd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

:hover > .--telegram::before {
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.--email {
  margin-right: 15px;
  position: relative;
  width: 30px;
  height: 30px;
}

.--email::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  -webkit-mask: url("../img/email.svg") no-repeat center;
  mask: url("../img/email.svg") no-repeat center;
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: #dddddd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

:hover > .--email::before {
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: 100%;
  height: 70px;
  background-color: #374555;
}

.header.container {
  height: 70px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.header a {
  color: #dddddd;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header a:hover {
  color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation ul a {
  margin-right: 15px;
}

.main {
  padding-top: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__row {
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__photo {
  margin: 0 50px 0 0;
  margin-right: 50px;
  max-width: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 20px rgba(49, 60, 66, 0.6);
          box-shadow: 10px 10px 20px rgba(49, 60, 66, 0.6);
}

.card__name {
  margin-bottom: 30px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 700;
}

.card__position {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #374555;
}

.card__location {
  color: #374555;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 1px;
}

.--block {
  position: relative;
  padding: 30px 30px 30px 60px;
  background-color: #fff;
  -webkit-box-shadow: 5px 5px 10px rgba(49, 60, 66, 0.6);
          box-shadow: 5px 5px 10px rgba(49, 60, 66, 0.6);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.--block:hover {
  -webkit-box-shadow: 10px 10px 25px rgba(49, 60, 66, 0.6);
          box-shadow: 10px 10px 25px rgba(49, 60, 66, 0.6);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.--line {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 20px;
  background-color: #374555;
}

.--title {
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
}

.summary__body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.summary__body > p:first-of-type {
  margin-bottom: 20px;
}

.skills {
  margin-bottom: 75px;
}

.skills__list {
  padding-left: 25px;
  list-style-type: disc;
}

.skills__list li {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
}

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.code {
  padding: 30px 30px 0 60px;
}

.code code {
  font-size: 16px;
  border-radius: 10px;
}

.footer {
  height: 70px;
  line-height: 70px;
  background-color: #374555;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
